# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.env
venv/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/
!static/.gitkeep

# Docker
.docker_data/
postgres_data/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data
*.parquet
*.csv
*.json

