# Django
DEBUG=1
SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

# Database (PostgreSQL)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Yandex AI (для генерации гипотез)
folder_id=your-folder-id
api_key=your-api-key
